<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Registration Page!</h2>
        <small>(to be filled if you are an independent professional e.g. Valid or individual trader)</small>
    </div>

    <form method="POST" action="/register/buyer/1/<%=buyer.buyerpID%>?_method=PUT">
        <div class="form-group">
          <label for="Name">Name</label>
          <input type="text" class="form-control" id="Name" name="name" value="<%=buyer.name%>">
        </div>
        <div class="form-group">
          <label for="surname">Surname</label>
          <input type="text" class="form-control" id="surname" name="surname" value="<%=buyer.surname%>">
        </div>
        <div class="form-group">
          <label for="profession">Profession</label>
          <input type="text" class="form-control" id="profession" name="profession" value="<%=buyer.profession%>">
        </div>
        <div class="form-group">
            <label for="fhname">Father/Husband's Name</label>
            <input type="text" class="form-control" id="fhname" name="fhname" value="<%=buyer.fhname%>">
          </div>
          <div class="form-group">
            <label for="hno">House Number/Street/Society</label>
            <input type="text" class="form-control" id="hno" name="hno" value="<%=buyer.hno%>">
          </div>
          <div class="form-group">
            <label for="village">Village</label>
            <input type="text" class="form-control" id="village" name="village" value="<%=buyer.village%>">
          </div>
          <div class="form-group">
            <label for="pin">Pin Number</label>
            <input type="number" class="form-control" id="pin" name="pin" value="<%=buyer.pin%>">
          </div>
          <div class="form-group">
            <label for="taluka">Taluka</label>
            <input type="text" disabled class="form-control" id="taluka" name="taluka" value="<%=buyer.taluka%>">
          </div>
          <div class="form-group">
            <label for="district">District</label>
            <input type="text" disabled class="form-control" id="district" name="district" value="<%=buyer.district%>">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="<%=buyer.email%>">
          </div>
          <div class="form-group">
            <label for="phoneno">Phone Number</label>
            <input type="number" class="form-control" id="phoneno" name="phoneno" value="<%=buyer.phoneno%>">
          </div>
          <div class="form-group">
            <label for="mobileno">Mobile Number</label>
            <input type="number" class="form-control" id="mobileno" name="mobileno" value="<%=buyer.mobileno%>">
          </div>
          <div class="form-group">
            <label for="wphoeno">Whatsapp Number</label>
            <input type="number" class="form-control" id="wphoeno" name="whatphoneno" value="<%=buyer.whatphoneno%>">
          </div>
          <div class="form-group">
            <label for="tephono">Telegram Number</label>
            <input type="number" class="form-control" id="tephono" name="telegphoneno" value="<%=buyer.telegphoneno%>">
          </div>
          <div class="form-group">
            <label for="aadharno">Aadhar Card Number</label>
            <input type="number" class="form-control" id="aadharno" name="aadharno" value="<%=buyer.aadharno%>">
          </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="checkbox">
          <label class="form-check-label" for="checkbox">Agree to Terms and Conditions</label>
        </div>
            <a class="btn btn-primary">Save</a>
        <button class="btn btn-success">Next</a>
      </form>     
</div>

<!-- <script>
var pin = document.getElementById('pin')
var taluka = document.getElementById('taluka');
var district = document.getElementById('district');
var HttpClient = function() {
    this.get = function(aUrl, aCallback) {
        var anHttpRequest = new XMLHttpRequest();
        anHttpRequest.onreadystatechange = function() { 
            if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                aCallback(anHttpRequest.responseText);
        }

        anHttpRequest.open( "GET", aUrl, true );            
        anHttpRequest.send( null );
    }
}
pin.addEventListener('change', function(){
var client = new HttpClient();
client.get('https://api.postalpincode.in/pincode/' + pin.value, function(response) {
  var data = JSON.parse(response);
    if(data[0]["Status"] == "Success"){
        taluka.value = data[0]["PostOffice"][0]["Division"];
        district.value = data[0]["PostOffice"][0]["District"];
    }
    else {console.log('Error in filling values');}
});
});
</script> -->

<%- include('partials/footer.ejs') %>