<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Buyer Registration Page!</h2>
    </div>
    <form method="POST" action="/register/buyer/3/<%=buyer.plant_id%>?_method=PUT">
        <h3>Medicinal Plants used for your business:</h3>
        <div class="form-group">
          <label for="plantname">Medicinal Plant Name</label>
          <input type="text" class="form-control" id="plantname" name="pname" value="<%=buyer.pname%>">
        </div>
        <div class="form-group ">
            <label for="variety">Variety</label>
            <input type="text" class="form-control" id="variety" name="variety" value="<%=buyer.variety%>">
          </div>
          <div class="form-group">
            <label for="plantpart">Part of Plant Used</label>
            <input type="text" class="form-control" id="plantpart" name="part" value="<%=buyer.part%>">
          </div>
          <div class="form-group">
            <label for="plantform">Form of Plant Used</label>
            <input type="text" class="form-control" id="plantform" name="form" value="<%=buyer.form%>"> 
            <small>(dried, fresh, juice, powder etc)</small>
          </div>
          <div class="form-group">
            <label for="anncons">Annual Consumption</label>
            <input type="number" class="form-control" id="anncons" name="consump" value="<%=buyer.consump%>">
            <small>(in kgs)</small>
          </div>
          <div class="form-group">
            <label for="endapp">End Application</label>
            <input type="text" class="form-control" id="endapp" name="endapp" value="<%=buyer.endapp%>">
            <small>(trading, repacking, value-addition, manufacture of herbal medicinal products)</small>
          </div>
          <div class="form-group">
            <label for="currsuppstate">State of Current Supplier</label>
            <input type="text" class="form-control" id="currsuppstate" name="stateofsup" value="<%=buyer.stateofsup%>">   
          </div>
          <div class="form-group">
            <label for="organic">Organic Certified</label>
            <input type="text" class="form-control" id="organic" name="organic" value="<%=buyer.organic%>"> 
            <small>(Yes/No)</small>  
          </div>
          <div class="form-group">
            <label for="usualrate">Usual Rate</label>
            <input type="number" class="form-control" id="usualrate" name="rate" value="<%=buyer.rate%>">
            <small>(in Rs/kg)</small>
          </div>
          <button class="btn btn-info">Save</button>
          <button type="submit" class="btn btn-success">Next</button>
      </form>
</div>

<%- include('partials/footer.ejs') %>