<%- include('partials/header.ejs') %>

<head>
    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
      <!-- Custom styles for this template -->
      <link href="album.css" rel="stylesheet">
</head>

<body>
    <main role="main">

        <section class="jumbotron text-center">
          <div class="container">
            <h1>Registration Page!</h1>
            <p>
              <a href="#" class="btn btn-primary my-2">Choose Language</a>
              <a href="#" class="btn btn-secondary my-2">Percentage Completed</a>
            </p>
          </div>
        </section>
      
        <div class="album py-5 bg-light">
          <div class="container">
      
            <div class="row">
              <div class="col-md-4">
                <a href="/register/farmer/personalDetails/<%=farmer.farmer_id%>/edit" class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">Personal Details</p>
                  </div>
                </a>
                <!-- <a href="/register/farmer/personalDetails/<%=farmer.farmer_id%>/edit" class="btn btn-info">Edit</a> -->
              </div>
              <div class="col-md-4">
                <a href='/register/farmer/1/<%=farmer.farmer_id%>/edit' class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">Govt/Non Govt Help for growing herbs?</p>
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <a href='/register/farmer/2/<%=farmer.farmer_id%>/edit' class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">Information about medical crops grown in the field?</p>
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <a href='#' class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">If you have done any value addition to the medical plants?</p>
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <a href='/register/farmer/4/<%=farmer.farmer_id%>/edit' class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">Is the farm organically certified where you cultivate medical crops?</p>
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <a href='/register/farmer/5/<%=farmer.farmer_id%>/edit' class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">Do you know who buys the medical crops you cultivated?</p>
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <a href='/register/farmer/6/<%=farmer.farmer_id%>/edit' class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">Challenges you faced in cultivating medical crops?</p>
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <a href='/register/farmer/7/<%=farmer.farmer_id%>/edit' class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">Any new experiment in medical crop?</p>
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <a href='/register/farmer/8/<%=farmer.farmer_id%>/edit' class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">Any planning to cultivate other medical crop?</p>
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <a href='/register/farmer/9/<%=farmer.farmer_id%>/edit' class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">Other farmer detail in your area cultivated medical crop?</p>
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <a href='/register/farmer/10/<%=farmer.farmer_id%>/edit' class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">Date of filling registration form?</p>
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                  <a href="/" class="btn btn-success">Done</a>
              </div>
            </div>
          </div>
        </div>
      
      </main>
</body>

<%- include('partials/footer.ejs') %>