<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Farmer Registration Page!</h2>
    </div>
    <form action="/register/farmer/9/<%=farmer.nf_id%>?_method=PUT" method="POST">

            <div class="container">
            <h3>Any farmer doing medicinal farming in your region / area</h3>
            <div class="form-group">
              <label for="fname">Name</label>
              <input type="text" class="form-control" id="fname" name="name" value="<%=farmer.name%>">
            </div>
            <div class="form-group ">
                <label for="faddress">Address</label>
                <input type="text" class="form-control" id="faddress" name="address" value="<%=farmer.address%>">
              </div>
              <div class="form-group">
                <label for="fmonumber">Mobile Number</label>
                <input type="integer" class="form-control" id="fmonumber" name="mobilenumber" value="<%=farmer.mobilenumber%>">
              </div>
              <div class="form-group">
                <label for="fpin">PIN Number</label>
                <input type="integer" class="form-control" id="fpin" name="pin" value="<%=farmer.pin%>">
              </div>
            </div>       
            <a class="btn btn-primary">Save</a>
            <button class="btn btn-success">Next</button>
    </form>
</div>

<%- include('partials/footer.ejs') %>