<%- include('partials/header.ejs') %>

<div class="container text-center">
    <div class="jumbotron">
        <h2>Farmer Registration Page!</h2>
    </div>
    <form action="/register/farmer/4/<%=farmer.organic_id%>?_method=PUT" method="POST">
          <small>if the farm is organically certified</small>
          <div class="form-group">
            <label for="certifyagency">Name of Certifying Agency</label>
            <input type="text" class="form-control" id="certifyagency" name="name" value="<%=farmer.name%>">
          </div>
          <div class="form-group">
              <label for="timeofregister">Date of Registration</label>
              <input type="date" class="form-control" id="timeofregister" name="regdate" value="<%=farmer.regdate%>">
            </div>
            <div class="form-group">
              <label for="regno">Registration Number</label>
              <input type="integer" class="form-control" id="regno" name="regno" value="<%=farmer.regno%>">
            </div>
            <div class="form-group">
              <label for="certificate">Organic Certificate if any</label>
              <input type="file" class="form-control" id="certificate" name="certificate" value="<%=farmer.certificate%>"> 
            </div>
            <div class="form-group">
              <label for="pestlab">Lab Test Report to check if there is any pesticides Residue in the medicinal plant/product if any</label>
              <input type="file" class="form-control" id="certificate" name="labreport" value="<%=farmer.labreport%>">
            </div>
            <a class="btn btn-primary">Save</a>
            <button class="btn btn-success">Next</button>
      </form>

      <%- include('partials/footer.ejs') %>